<tr>
  <td>
    <%= event.id %>
  </td>
  <td>
    <%= event.name %>
  </td>
  <td>
    <%= event.game_application&.name %>
  </td>
  <td>
    <%= l event.created_at, format: :long %>
  </td>
  <td>
    <%= link_to t('defaults.show'), admin_event_path(event), class: 'btn btn-info' %>
    <%= link_to t('defaults.edit'), edit_admin_event_path(event), class: 'btn btn-success' %>
    <%= link_to t('defaults.delete'), admin_event_path(event), method: :delete, data: { confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-danger' %>
  </td>
</tr>
