<tr>
  <td>
    <%= game_application.id %>
  </td>
  <td>
    <%= game_application.name %>
  </td>
  <td>
    <%= game_application.game_genre.name %>
  </td>
  <td>
    <%= l game_application.created_at, format: :long %>
  </td>
  <td>
    <%= link_to t('defaults.show'), admin_game_application_path(game_application), class: 'btn btn-info' %>
    <%= link_to t('defaults.edit'), edit_admin_game_application_path(game_application), class: 'btn btn-success' %>
    <%= link_to t('defaults.delete'), admin_game_application_path(game_application), method: :delete, data: { confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-danger' %>
  </td>
</tr>
