<% set_meta_tags title: "#{@event.name} 詳細" %>
<div class="container mx-auto mt-32 bg-white rounded-lg">
  <div class="mx-5 mb-10 text-gray-600">
    <div class="flex">
      <div class= "event-detail w-full">
        <div class="font-bold  text-4xl mt-10">
          <%= @event.name %>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-6 my-5">
          <%= image_tag @event.game_application.game_application_image.url, class: 'object-cover rounded-lg' %>
        </div>
        <div class="divide-y divide-gray-400 mt-10">
          <div class="text-left py-2 text-2xl font-semibold">ゲーム名</div>
          <div class="py-2 text-4xl font-medium ">
            <%= @event.game_application&.name %>
          </div>
        </div>
        <div class="divide-y divide-gray-400 mt-10">
          <div class="text-left py-2 text-2xl font-semibold">期間</div>
          <div class="mx-auto py-2 text-3xl font-medium ">
            <%= l @event.started_at, format: :long %> ~
            <%= l @event.ended_at, format: :long %>
          </div>
        </div>
        <div class="divide-y divide-gray-400 mt-10">
          <div class="text-left py-2 text-2xl font-semibold">LINE通知</div>
          <div class="text-base py-2 font-semibold ">
            <%= render 'notification_button', event: @event  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
